body{
    background-color: #260036;
    color: white;
    max-width: 1920px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 114px);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    padding-left: 138px;
    padding-right: 138px;
}

h1{
  font-size: 45px;
}

ul{
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
}

.box{
    background: linear-gradient(to bottom, #53007D, #8E2A95);
    cursor: pointer;
    height: 114px;
    width: 114px;
    border-radius: 15px;
    border: solid 4px #8F8F8F;
    transition: 0.5s ease;
}

.box:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
    }
 #about{
  grid-column: 9/10;
 }

  #sounds-left{
    grid-template-rows: repeat(6, 114px);
  }
  

  #sound-box1{
    grid-column: 2/2;
    
  }

  #sound-box2{
    grid-column: 3/3;
    
  }

  #sound-box3{
    grid-column: 2/2;
    grid-row: 2/2;
  }

  #sound-box4{
    grid-column: 3/3;
    grid-row: 2/2;
  }

  #sound-box5{
    grid-column: 10/10;
  }
  #sound-box6{
    grid-column: 11/11;
  }
  #sound-box7{
    grid-column: 10/10;
    grid-row: 2/2;
  }
  #sound-box8{
    grid-column: 11/11;
    grid-row: 2/2;
  }

  #boombox{
    grid-column: 4/10;

    height: 514px;
    width: 815px;
    margin-bottom: 100px;
  }
  #sounds{
    padding-top: 100px;
  }

  #playing-box1{
    grid-column: 5/5;
  }

.top-buttons{
  cursor: pointer;
  position: absolute;
  height: 65px;
  width: 65px;
}

#playButton{
  margin: 285px 335px 0px;
  transition: 0.5s ease;
}

#playButton:hover{
  transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

#pauseButton{
  margin: 285px 425px 0px;
  transition: 0.5s ease;
}

#pauseButton:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.bottom-buttons{
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
}

#rewindButton{
  margin: 395px 385px 0px;
}

#volumedownButton{
  margin: 395px 330px 0px;
}

#volumeupButton{
  margin: 395px 440px 0px;
}

#volumeControl{
  cursor: pointer;
  position: absolute;
  margin: 460px 340px 0px;
}
